In [1]:
import pandas as pd

In [2]:
d_dict = {
    'a': 10,
    'b': 20, 
    'c': 30, 
    'd': 40, 
    'e': 50
}
series = pd.Series(d_dict)
print(series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [4]:
d_list = [10, 20, 30, 40, 50]
series1 = pd.Series(d_list)
print(series1)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
data_dict = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 28],
    'Country': ['USA', 'Canada', 'UK']
}

df = pd.DataFrame(data_dict)
print(df)

      Name  Age Country
0    Alice   25     USA
1      Bob   30  Canada
2  Charlie   28      UK

In [6]:
name_column = df['Name']
print(name_column)

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

In [9]:
row_1 = df.loc[0]
print(row_1)

Name       Alice
Age           25
Country      USA
Name: 0, dtype: object

In [10]:
rows_slice = df.loc[1:2] 
print(rows_slice)

      Name  Age Country
1      Bob   30  Canada
2  Charlie   28      UK

In [11]:
age_filter = df[df['Age'] > 28]
print(age_filter)

  Name  Age Country
1  Bob   30  Canada

In [13]:
filtered_data = df[df['Age'] > 28][['Name', 'Country', 'Age']]
print(filtered_data)

  Name Country  Age
1  Bob  Canada   30

In [15]:
countries_filter = df[df['Country'].isin(['USA', 'Canada'])]
print(countries_filter)

    Name  Age Country
0  Alice   25     USA
1    Bob   30  Canada

In [16]:
series[2] = 35  
print(series)

a    10
b    20
c    35
d    40
e    50
dtype: int64

In [17]:
df.at[1, 'Age'] = 31  
print(df)

      Name  Age Country
0    Alice   25     USA
1      Bob   31  Canada
2  Charlie   28      UK

In [18]:
df['Age'] = df['Age'] + 1 
print(df)

      Name  Age Country
0    Alice   26     USA
1      Bob   32  Canada
2  Charlie   29      UK

In [23]:
df.loc[df['Age'] > 28, 'Country'] = 'Other'

df['Salary'] = [50000, 60000, 55000]
print(df)

      Name  Age Country  Salary
0    Alice   26     USA   50000
1      Bob   32   Other   60000
2  Charlie   29   Other   55000

In [25]:
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [7, 8, 9], 'B': [10, 11, 12]})

result = pd.concat([df1, df2]) 
print(result)

   A   B
0  1   4
1  2   5
2  3   6
3  7  10
4  8  11
5  9  12

In [27]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Age': [25, 30, 28]})

merged_df = pd.merge(df1, df2, on='ID') 
print(merged_df)

   ID     Name  Age
0   2      Bob   25
1   3  Charlie   30

In [28]:
data = {
    'Category': ['A', 'B', 'A', 'B', 'A'],
    'Value': [10, 20, 30, 40, 50]
}

df = pd.DataFrame(data)
grouped = df.groupby('Category').agg({'Value': 'sum'}) 
print(grouped)

          Value
Category
A            90
B            60

In [29]:
data = {
    'A': [1, 2, None, 4],
    'B': [None, 5, 6, 7]
}

df = pd.DataFrame(data)
missing_values = df.isnull()
print(missing_values)

       A      B
0  False   True
1  False  False
2   True  False
3  False  False

In [30]:
data = {
    'A': [1, 2, None, 4],
    'B': [None, 5, 6, 7]
}

df = pd.DataFrame(data)
missing_values = df.notnull()
print(missing_values)

       A      B
0   True  False
1   True   True
2  False   True
3   True   True

In [31]:
drop_df = df.dropna()
print(drop_df)

     A    B
1  2.0  5.0
3  4.0  7.0

In [32]:
filled_df = df.fillna(0)
print(filled_df)

     A    B
0  1.0  0.0
1  2.0  5.0
2  0.0  6.0
3  4.0  7.0

In [36]:
dup_data = {
    'Name': ['Alice', 'Bob', 'Charlie','Alice'],
    'Age': [25, 30, 28,25],
    'Country': ['USA', 'Canada', 'UK','USA']
}
dff = pd.DataFrame(dup_data)
duplicates = dff.duplicated()
print(duplicates)

0    False
1    False
2    False
3     True
dtype: bool

In [37]:
unique_rows_df = dff.drop_duplicates()
print(unique_rows_df)

      Name  Age Country
0    Alice   25     USA
1      Bob   30  Canada
2  Charlie   28      UK