In [ ]:
import pandas as pd
series1 = pd.Series([1,2,3,4])
print(series1)

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
import pandas as pd

srs = pd.Series([1,2,3,4,5])
print("The Series values are:")
print(srs.values)
print("\nThe Index values are:")
print(srs.index.values)

The Series values are:
[1 2 3 4 5]

The Index values are:
[0 1 2 3 4]

In [ ]:
import pandas as pd

srs = pd.Series([11.9, 36.0, 16.6, 21.8, 34.2], index = ['China', 'India', 'USA', 'Brazil', 'Pakistan'])
srs.name = "Growth Rate"
srs.index.name = "Country"
print("The Indexed Series values are:")
print(srs)

The Indexed Series values are:
Country
China       11.9
India       36.0
USA         16.6
Brazil      21.8
Pakistan    34.2
Name: Growth Rate, dtype: float64

In [ ]:
import numpy as np
import pandas as pd

srs = pd.Series(np.arange(0, 6, 1), index = ['ind0', 'ind1', 'ind2', 'ind3', 'ind4', 'ind5'])
srs.index.name = "Index"
print("The original Series:\n", srs)
print("\nSeries element at index ind3:")
print(srs['ind3']) # Fetch element at index named ind3
print("\nSeries element at index 3:")
print(srs[3]) # Fetch element at index 3
print("\nSeries elements at multiple indexes:\n")
print(srs[['ind1', 'ind4']]) # Fetch elements at multiple indexes

The original Series:
 Index
ind0    0
ind1    1
ind2    2
ind3    3
ind4    4
ind5    5
dtype: int64

Series element at index ind3:
3

Series element at index 3:
3

Series elements at multiple indexes:

Index
ind1    1
ind4    4
dtype: int64

In [ ]:
import numpy as np

import pandas as pd
srs = pd.Series(np.arange(0, 6, 1), index = ['ind0', 'ind1', 'ind2', 'ind3', 'ind4', 'ind5'])

srs.index.name = "Index"

print("The original Series:\n", srs)



srs = srs.drop('ind2') # drop index named ind2



print("The New Series:\n", srs)

The original Series:
 Index
ind0    0
ind1    1
ind2    2
ind3    3
ind4    4
ind5    5
dtype: int64
The New Series:
 Index
ind0    0
ind1    1
ind3    3
ind4    4
ind5    5
dtype: int64

In [ ]:
import pandas as pd

df = pd.DataFrame({

    "Column1": [1, 4, 8, 7, 9],

    "Column2": ['a', 'column', 'with', 'a', 'string'],

    "Column3": [1.23, 23.5, 45.6, 32.1234, 89.453],

    "Column4": [True, False, True, False, True]

})

print(df)

   Column1 Column2  Column3  Column4
0        1       a   1.2300     True
1        4  column  23.5000    False
2        8    with  45.6000     True
3        7       a  32.1234    False
4        9  string  89.4530     True

In [ ]:
import pandas as pd

data = {

    'peppers': [3, 2, 0, 1],

    'carrots': [0, 3, 7, 2]

}

quantity = pd.DataFrame(data)



print(data)

{'peppers': [3, 2, 0, 1], 'carrots': [0, 3, 7, 2]}

In [ ]:
import pandas as pd

df = pd.DataFrame({

    "Column1": [1, 4, 8, 7, 9],

    "Column2": ['a', 'column', 'with', 'a', 'string'],

    "Column3": [1.23, 23.5, 45.6, 32.1234, 89.453],

    "Column4": [True, False, True, False, True]

})

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Column1  5 non-null      int64
 1   Column2  5 non-null      object
 2   Column3  5 non-null      float64
 3   Column4  5 non-null      bool
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 253.0+ bytes

In [ ]:
import pandas as pd



# Defining a series object

srs1 = pd.Series([11.9, 36.0, 16.6, 21.8, 34.2], index = ['China', 'India', 'USA', 'Brazil', 'Pakistan'])



# Set Series name

srs1.name = "Growth Rate"



# Set index name

srs1.index.name = "Country"



srs2 = srs1.reindex(['China', 'India', 'Malaysia', 'USA', 'Brazil', 'Pakistan', 'England'])

print("The series with new indexes is:\n",srs2)



srs3 = srs1.reindex(['China', 'India', 'Malaysia', 'USA', 'Brazil', 'Pakistan', 'England'], fill_value=0)

print("\nThe series with new indexes is:\n",srs3)

The series with new indexes is:
 Country
China       11.9
India       36.0
Malaysia     NaN
USA         16.6
Brazil      21.8
Pakistan    34.2
England      NaN
Name: Growth Rate, dtype: float64

The series with new indexes is:
 Country
China       11.9
India       36.0
Malaysia     0.0
USA         16.6
Brazil      21.8
Pakistan    34.2
England      0.0
Name: Growth Rate, dtype: float64