In [ ]:
mylist = [1, 2, 3, 4, 5]
print(mylist)

[1, 2, 3, 4, 5]

In [ ]:
my_list = list([10, 20, 30, 40, 50])
print(my_list)

[10, 20, 30, 40, 50]

In [ ]:
my_list = []
my_list.append(100)
my_list.append(200)
my_list.append(300)
print(my_list)

[100, 200, 300]

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [ ]:
my_tuple = tuple([10, 20, 30, 40, 50])
print(my_tuple)

(10, 20, 30, 40, 50)

In [ ]:
single_element_tuple = (100)
print(single_element_tuple)

100

In [ ]:
my_set = {1, 2, 3, 5, 4}
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
my_set = set([10, 20, 30, 40, 50])
print(my_set)

{40, 10, 50, 20, 30}

In [ ]:
empty_set = set([])
print(empty_set)

set()

In [ ]:
my_dict = {"apple": 1, "orange": 2, "banana": 3}
print(my_dict)

{'apple': 1, 'orange': 2, 'banana': 3}

In [ ]:
my_dict = dict(apple=1, orange=2, banana=3)
print(my_dict)

{'apple': 1, 'orange': 2, 'banana': 3}

In [ ]:
my_dict = dict([("apple", 1), ("orange", 2), ("banana", 3)])
print(my_dict)

{'apple': 1, 'orange': 2, 'banana': 3}

In [ ]:
empty_dict = { }
print(empty_dict)

{}

In [ ]:
# Get input from the user
num = float(input("Enter a number: "))

# Check if the number is positive, negative, or zero
if num > 0:
 print("The number is positive.")
elif num < 0:
 print("The number is negative.")
else:
 print("The number is zero.")

Enter a number: 6
The number is positive.

In [ ]:
num=float(input("Enter the number"))

if num >= 0:
  if num == 0:
    print("The number is zero")
  else:
    print("The number is positive")
else:
  print("The number is negative")

Enter the number-5
The number is negative

In [ ]:
num = 1
while num <= 5:
 print(num)
 num += 1

1
2
3
4
5

In [ ]:
fruits = ["apple", "banana", "orange"]
for fruit in fruits:
  print(fruit)

apple
banana
orange

In [ ]:
weather_data = {
"Monday": 28,
"Tuesday": 30,
"Wednesday": 25,
"Thursday": 27,
"Friday": 26,
"Saturday": 29,
"Sunday": 31,
}
print(weather_data)

{'Monday': 28, 'Tuesday': 30, 'Wednesday': 25, 'Thursday': 27, 'Friday': 26, 'Saturday': 29, 'Sunday': 31}