In [ ]:
import pandas as pd
data = {
    'Name':['Alice','bob','Charlie','David','Eva'],
    'Age':[20,28,25,27,28]
}
df= pd.DataFrame(data)
print(df)

      Name  Age
0    Alice   20
1      bob   28
2  Charlie   25
3    David   27
4      Eva   28

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
  'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
  'Age': [25, 30, 22, 28, 35],
  'Gender': ['Female', 'Male', 'Male', 'Male', 'Female']
}

df = pd.DataFrame(data)

# Filter rows where Age is greater than 25
filtered_df = df[df['Age'] > 25]
print(filtered_df)

    Name  Age  Gender
1    Bob   30    Male
3  David   28    Male
4    Eva   35  Female

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
  'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
  'Age': [25, 30, 22, 28, 35],
  'Gender': ['Female', 'Male', 'Male', 'Male', 'Female']
}

df = pd.DataFrame(data)

df['City'] = ['New York', 'Los Angeles', 'Chicago', 'Miami', 'Seattle']
print(df)

      Name  Age  Gender         City
0    Alice   25  Female     New York
1      Bob   30    Male  Los Angeles
2  Charlie   22    Male      Chicago
3    David   28    Male        Miami
4      Eva   35  Female      Seattle

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
  'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
  'Age': [25, 30, 22, 28, 35],
  'Gender': ['Female', 'Male', 'Male', 'Male', 'Female']
}

df = pd.DataFrame(data)
grouped_df = df.groupby('Gender').agg({'Age': 'mean'})
print(grouped_df)

              Age
Gender
Female  30.000000
Male    26.666667

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
  'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
  'Age': [25, 30, 22, 28, 35],
  'Gender': ['Female', 'Male', 'Male', 'Male', 'Female']
}
sorted_df = df.sort_values(by='Age')
print(sorted_df)

      Name  Age  Gender
2  Charlie   22    Male
0    Alice   25  Female
3    David   28    Male
1      Bob   30    Male
4      Eva   35  Female

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
  'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
  'Age': [25, 30, 22, 28, 35],
  'Gender': ['Female', 'Male', 'Male', 'Male', 'Female']
}
df['Age'] = df['Age'].apply(lambda x: x + 5)
print(df)

      Name  Age  Gender
0    Alice   30  Female
1      Bob   35    Male
2  Charlie   27    Male
3    David   33    Male
4      Eva   40  Female

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
  'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
  'Age': [25, 30, 22, 28, 35],
  'Gender': ['Female', 'Male', 'Male', 'Male', 'Female']
}
pivot_df = df.pivot(index='Name', columns='Gender', values='Age')
print(pivot_df)

Gender   Female  Male
Name
Alice      30.0   NaN
Bob         NaN  35.0
Charlie     NaN  27.0
David       NaN  33.0
Eva        40.0   NaN

In [ ]:
import pandas as pd



d = {

    'subject_id': ['1', '2', '3', '4', '5'],

    'student_name': ['Mark', 'Khalid', 'Deborah', 'Trevon', 'Raven']

}

df1 = pd.DataFrame(d, columns=['subject_id', 'student_name'])

print(df1)

  subject_id student_name
0          1         Mark
1          2       Khalid
2          3      Deborah
3          4       Trevon
4          5        Raven

In [ ]:
import pandas as pd



data = {

    'subject_id': ['4', '5', '6', '7', '8'],

    'student_name': ['Eric', 'Imani', 'Cece', 'Darius', 'Andre']

}

df2 = pd.DataFrame(data, columns=['subject_id', 'student_name'])

print(df2)

pd.merge(df1, df2, on='subject_id')

  subject_id student_name
0          4         Eric
1          5        Imani
2          6         Cece
3          7       Darius
4          8        Andre

  subject_id student_name_x student_name_y
0          4         Trevon           Eric
1          5          Raven          Imani

In [ ]:
import pandas as pd



raw = {

    'Name': ['Darell', 'Darell', 'Lilith', 'Lilith', 'Tran', 'Tran', 'Tran',

        'Tran', 'John', 'Darell', 'Darell', 'Darell'],

    'Position': [2, 1, 1, 4, 2, 4, 3, 1, 3, 2, 4, 3],

    'Year': [2009, 2010, 2009, 2010, 2010, 2010, 2011, 2012, 2011, 2013, 2013, 2012],

    'Marks':[408, 398, 422, 376, 401, 380, 396, 388, 356, 402, 368, 378]

}

df = pd.DataFrame(raw)



group = df.groupby('Year')

print(group.get_group(2013))

      Name  Position  Year  Marks
9   Darell         2  2013    402
10  Darell         4  2013    368